@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Patrick+Hand&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}



html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}




body
{
   background: white;
}



a{
    text-decoration: none;
    color: black;
}



/* the header section beginning */


header
{
   width: 100%;
   height: 6rem;
   background: #fff;
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   z-index: 1000;
   box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.3);
}


.logo{
    width: 8rem;
    height: 6rem;
    margin: 1.5rem 2rem;
}


.logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


ul{
    list-style: none;
}


ul li{
    display: inline-block;
    margin: 2rem 1rem;
    border-radius: 1rem;
    padding: 0.2rem ;
    transition: 0.2s;
}


ul  li:hover{
    background: #8B008B;
}


ul li a:hover{
    color: #fff;
}


ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: 0.2s;
    font-family: 'Secular One', sans-serif;
   
}



.button1{
    display: flex;
    margin: 1.5rem 3rem;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2rem;
    background: #8B008B;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    
}

.button1:hover{
    background: red;
    box-shadow: 5px  5px 6px rgba(218, 16, 16, 0.808);
    color: white;
}
























/* the first container */

.bg-1
{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-image: url(living-room-wall-bright-tones-with-sofa-lamp-with-white-wall.jpg);
    background-attachment: fixed;
}





.inner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(2rem);
    font-size: 70%;
    flex-direction: column;
    color: #8B008B;
}


.inner-logo img{
    width: 55%;
    height: 50%;
    border-radius: 50%;
    cursor: pointer;
}











.contents
{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    width: 100%;
    height: 100vh;
    
}


.contents h1{
    font-family: 'Patrick Hand', cursive;
}







.second-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    flex-wrap: wrap;
}

.second-container-heading{
    width: 100%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-container-heading h1{
    color: purple;
}


.divisions-1{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.divisions-1 h1{
    margin: 2rem;
    font-family: 'Patrick Hand', cursive;
}


.divisions-1 p{
    margin: 2rem;
}



.divisions-2{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.divisions-2 img{
    width: 20rem;
    margin: 2rem;
}



.second-sub-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(190, 190, 190);
    flex-wrap: wrap;
}



.divisions-3{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}


.divisions-3 img{
    width: 20rem;
}



.divisions-4{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}


.divisions-4 h1{
    margin: 2rem;
    font-family: 'Patrick Hand', cursive;
}


.divisions-4 p{
    font-size: 1.2rem;
    margin: 2rem;
}

.third-sub-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(194, 192, 192);
    flex-wrap: wrap;
}



.divisions-5{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    border-radius: 0  95px;
    box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.1), 2px 2px 1px  rgba(0, 0, 0, 0.1);
}




.divisions-6{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}


.divisions-6 img{
    width: 20rem;
}


.divisions-5 h1{
    margin: 2rem;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid goldenrod;
}



.divisions-5 p{
    font-size: 1.2rem;
    margin: 2rem;
}













/* the heading container */

.heading{
    width: 100%;
    height: 20vh;
    background: #fff;
    margin: 1rem;
    display: flex;
   align-items: center;
   justify-content: center;
}

.heading p{
    font-size: 1.5rem;
    border-top: 2px solid gold;
    font-family: 'Patrick Hand', cursive;
}



















/* the third container */
/* this applies to all grid sections */
.third-container{
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 0.5rem;
}


.b-1{
    display: flex;
    flex-direction: column;
} 


.b-1 p{
    font-size: 1.2rem;
    text-transform: lowercase;
}





.b-1 img{
    width: 100%;
    cursor: pointer;
}










/* The fourth container */


.fourth-container{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}




.c-1{
    width: 50%;
    height: 10rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-1 h1{
    border-top: 2px solid gold;
    font-size: 2rem;
    font-family: 'Patrick Hand', cursive;
}












.fifth-container{
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 3rem
}


.b-1{
    display: flex;
    flex-direction: column;
}



.b-1 p{
    font-size: 1.2rem;
}





.b-1 img{
    width: 100%;
    cursor: pointer;
}







/* fifth-container */

.sixth-container{ 

    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-2{
    width: 50%;
    height: 10rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}




.c-2 h1{
    border-top: 2px solid gold;
    font-size: 2rem;
    font-family: 'Patrick Hand', cursive;
}



/* the seventh container */

.seventh-container{
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 0.5rem;
}



/* the office container */
.office-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}


.h-5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    margin-right: 20rem;
    margin-left: 20rem;
    background: #fff;
}


.h-5 p{
    font-size: 3rem;
    border-top: 2px solid gold;
    font-family: 'Patrick Hand', cursive;;
}






.fifth-grid-section{
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 0.5rem;
}




.sectional-container{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}



.inside-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 3rem;
    background: #fff;
}


.inside-section p{
    margin: 2rem;
    border-top: 2px solid gold;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    padding: 1rem;
    font-size: 1.2rem;
}




































/* the footer section */

.footer-section{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.s-1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 1px solid gold;
}



.s-1 h1{
    font-family: 'Patrick Hand', cursive;
    margin: 1rem;
}


.s-1 p{
    font-size: 1.2rem;
    margin: 1rem;
}



.s-1 img{
    width: 20%;
    cursor: pointer;
}








.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: rgb(41, 41, 41);
    color: #fff;

}


.s-2{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    color: #fff;
    cursor: pointer;

}


.s-2 p{
    font-size: 1.2rem;
    transition: 0.2s;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}


.s-2 p:hover{
    border-bottom: 0.9px solid #fff;
}


.s-2 i{
    font-size: 1rem;
    transition: 0.2s;
    color: #fff;
    margin:2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}





.information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin: 1rem;
    border-bottom: 1px solid #fff;
    color: #fff;
}


.information h1{
    font-size: 90%;
    color: #fff;
    cursor: pointer;
    margin: 2px;
}


.b-6{
    color: #fff;
    margin-top: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.b-6 h3{
    margin: 1rem;
}


.f-2{
    width: 100%;
    height: 4rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-2 h1{
    font-size: 1rem;
    color:#fff;
    cursor: pointer;
    margin: 2px;
}

























/* the media quaries */

#toggler{
    display: none;
}


.bars{
    display: none;
}








@media (max-width:998px)
{

    html{
        overflow-x: hidden;
    }



    header{
        position: sticky;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .bars{
        display: block;

    }


    ul{
        position: fixed;
        top: 5.1rem;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(1rem);
        transition: 0.5s;
        z-index: 2000;
        border: 1px solid black;

    }


    ul li{
        margin: 1rem 2rem;
        display: block;
    
    }



    #toggler:checked ~ ul
    {
        left: 0;
    }


    
    .inner-logo{
        width: 10rem;
        height: 10rem;
        margin: 5rem;
    }


    .second-container{
        height: 100%;
    }


    .second-sub-container{
        height: 100%;
    }


    .third-sub-container{
        height: 100%;
    }

}